.cart {
    position: relative;
    height: auto;
    width: 100%;
    &-login {
        margin-top: 50%;
        margin-left: 10%;
        width: 80%;
        vertical-align: middle;
        text-align: center;
        font-size: small;
    }
    .cart-row {
        border: 1px solid #DDD;
        border-radius: 12px;
        margin: 12px;
        width: 95%;
        .cart-img {
            width: 120px;
            height: 120px;
        }
        .cart-description {
            width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    
}