.cart {
    position: relative;
    height: auto;
    width: 100%;
    &-login {
        margin-top: 50%;
        margin-left: 10%;
        width: 80%;
        vertical-align: middle;
        text-align: center;
        font-size: small;
    }
    .cart-row {
        border: 1px solid #DDD;
        border-radius: 12px;
        margin: 12px;
        width: 95%;
        .cart-img {
            width: 120px;
            height: 120px;
        }
        .cart-title {
            font-size: small;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .cart-footer {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 12px;
            &-price {
                position: relative;
                left: 0;
                color: red;
                font-size: small;
            }
            &-sum {
                position: absolute;
                right: 0px;
            }
        }
        .cart-description {
            width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .cart-empty {
        position: position;
        margin-left: 40%;
        margin-top: 40%;
        width: 260px;
        height: 260px;
    }
    
}